{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>锦佰安信息</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.secboot.com">苏州锦佰安</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://www.secboot.com">公司官网</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000">博客首页</a>
                    </li>
                    <li>
                        <a href="https://www.secboot.com/#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    公司宣传语
                    <small>公司副宣传语</small>
                </h1>

                <!-- First Blog Post -->
                {% block main %}
                {% endblock main %}
                <!-- Pager
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
                -->
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>博客搜索</h4>
                    <div class="input-group">
                        <form role="search" method="get" id="searchform" action="{% url 'office_blog:search' %}" >
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="请输入标题中关键字搜索" required />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                     <!--文章提纲-->
                    {% block toc %}

                    {% endblock toc %}

                    <!--    最新文章    -->
                    <h4>最新文章</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% get_recent_posts as recent_posts %}
                                {% for post in recent_posts %}
                                    <li>
                                        <a href="{{ post.get_absolute_url }}">{{ forloop.counter }} - {{ post.title }}</a>
                                    </li>
                                {% empty %}
                                    暂无文章
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                <!--    归档    -->
                    <h4>归档</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% get_archives as date_list %}
                                {% for date in date_list %}
                                    <li>
                                        <a href="{% url 'office_blog:archives' date.year date.month %}">{{ date.year }}-{{ date.month }}</a>
                                    </li>
                                {% empty %}
                                    暂无归档
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                <!--    分类    -->
                    <h4>分类</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% get_category as category_list %}
                                {% for category in category_list %}
                                    <li>
                                        <a href="{% url 'office_blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
                                    </li>
                                {% empty %}
                                    暂无分类
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>云标签</h4>
                    {% get_tags as tag_list %}
                    {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'office_blog:tag' tag.pk %}">{{ tag.name }}</a>
                        </li>
                    {% empty %}
                        暂无标签
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>

            <button class="back-to-top" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy 2017 - 苏ICP备16061913 -<a href="http://www.secboot.com" target="_blank" >SECBOOT</a>
                        - 文章版权来自<a href="http://www.secboot.com" target="_blank">苏州锦佰安信息技术有限公司</a>
                    </p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script>
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

// When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Chrome, Safari and Opera
            document.documentElement.scrollTop = 0; // For IE and Firefox
        }
    </script>
</body>

</html>
